

.btn-blue {
	color: black; 
	background:#F6CEE3; 
	border-radius: 5px; 
	font-weight: bold; 
	font-size: 14px; 
	padding: 15px 20px;
	opacity: 0.3s; 
	transition: all 0.3s ease; 
}

.btn-blue:hover {
  background: black;
  color: #F6CEE3;
}
