.btn-twitter {
	color: white; 
	background: #B65651; 
	border-radius: 5px; 
	font-weight: bold; 
	font-size: 14px; 
	padding: 15px 20px;
	transition: all 0.3s ease; 
}

.btn-twitter:hover {
	color: white; 
	background: black;
	border-radius: 0px;

}

.btn-medium {
	color: rgb(100,100,100);
	background: transparent;
	border-radius: 50px; 
	border: 1px solid rgb(100,100,100);
	padding: 15px 20px;
	opacity: 0.3s; 
	transition: opacity0.3s ease; 
}

.btn-medium:hover {
	color: (100,100,100); 
	opacity: 1; 
}


.btn-blue {
	color: white; 
	background: #B65651; 
	border-radius: 5px; 
	font-weight: bold; 
	font-size: 14px; 
	padding: 15px 20px;
	transition: all 0.3s ease; 
	
.btn-blue {
	color: white; 
	background: black;
	border-radius: 0px;

}
